<a href="https://colab.research.google.com/github/Raghav5384/Rag_Python_Day1/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Machine Learning course")

Welcome to Machine Learning course

5

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
a=400
print(id(a))

133084428087664

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a=b=c=100
print(id(b))

10754024

In [ ]:
import keyword as kyw
print(kyw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#list method
s = ["NTT DATA"]
print(s)

['NTT DATA']

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6,7]
print(l1)

[2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6, 7]

In [ ]:
#Tuple method

s = ("NTT DATA")
t2 = tuple(s)
print(t2)

l1 = [10,20,30]
print(l1)
l2 = tuple(l1)
print(l2)

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
[10, 20, 30]
(10, 20, 30)

In [ ]:
#Dictionary
d1 = {"name": "Ram", "age": 30, "city": "Blr"}
print(d1)
print (type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])

In [ ]:
# Create a Dictionary
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
print (d1)
print (type(d1))

print (d1[2])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100

In [ ]:
# using tuple as key in dictionary
d4 = {(1,2): 100,
      (3,4): 200,
      (5,6): 300}

print(d4)
print(d4[(3,4)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
200

In [ ]:
# using tuple as key in dictionary , using different data types in key
d4 = {3: 100,
      (3,4): 200,
      "hi": 300}

print(d4)
print(d4["hi"])

{3: 100, (3, 4): 200, 'hi': 300}
300

In [ ]:
# Iterating through a Dictionary (keys by default)
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for key1 in d1:
    print(key1)

2
4
6
8
10

In [ ]:
# Iterating through a values
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for value in d1.values():
    print(value)

100
200
300
400
500

In [ ]:
# Iterating through a item (key, values)
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for item in d1.items():
    print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [ ]:
#Functions -- Global and local variable
n= 10

def fun():
    n=5 # Local variable
    print(n)

fun()
print(n)

5
10

In [ ]:
#Functions -- Global and local variable
n= 10

def fun():
    global n # Global variable
    n = n+1
    print(n)

def test():
    global n # Global variable
    n= n+1
    print(n)

fun()
test()
print(n)

11
12
12

In [ ]:
#Default arguments

def student (name, age, m1, m2, m3, college="UVCE"):

    print (name,age,m1,m2,m3,college)


student(name="John",age=21, m1=90, m2=78, m3=86)
student(name="Mary",age=21, m1=70, m2=88, m3=96, college="SVCE")

John 21 90 78 86 UVCE
Mary 21 70 88 96 SVCE

In [ ]:
#Variable length arguments

def sum (*a):
    print(a)

sum(2,3)
sum(4,7,5)
sum (8,9)

(2, 3)
(4, 7, 5)
(8, 9)

In [ ]:
#Variable length Positional arguments
def sum(*a):
    for i in a :
      s = s+i
      print(s)


sum(2,3)
sum(4,7,5)
sum (8,9)

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [ ]:
#Variable length Positional and Keyword arguments
def add(*num, **nums):
    print(sum(num))
#    print(sum(num.values()))

add(10,20,30,40, n1=100, n2=200, n3=300)

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [ ]:
def student(name,clas,*parents_name,age,school='ABC',**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  ABC

In [ ]:
def test_var_args(name, *num, num1=10, **nums):
  print(name)
  print(num)
  print(num1)
  print(nums)

test_var_args('ABC', 11, 12, 13, 14, num1=101, num2=102, num3=103, num4=104)

ABC
(11, 12, 13, 14)
101
{'num2': 102, 'num3': 103, 'num4': 104}

In [ ]:
*****
Order of declaration:
Positional arguments
Variable positional arguments
Keyword arguments
Default arguments
Variable Keyword arguments
****

In [ ]:
#Lamda function
var=lambda w,q,r : print(w,q,r)
print(var(40,50,60))

40 50 60
None

In [ ]:
#Area of a circle using Lamda function

area = lambda r : 3.14*r*r
print(area(5))

78.5

In [ ]:
#Class and Objects
class calculator
 n1=10  #Attributes
 n2=0
 res =0

 def __init__(self,n1,n2):   #Methods
   self.n1=0
   self.n2=0
   self.res=0

 def add(self, n1,n2):
   pass

 def sub(self, n1,n2):
   pass

 def mul(self, n1,n2):
   pass

 def div(self, n1,n2):
   pass


   Obj1=calculator(10,20) # Obj1 creation
   print(Obj.add(10,20))

   Obj2=calculator(100,200) # Obj2 creation
   print(Obj.sub(10,20))

In [ ]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute


dog1 = Dog("Buddy", 3)      # Creating an object of the Dog class
dog2 = Dog("Charlie", 5)    # Create an instance of Dog

print(dog1.name, dog1.age, dog1.species)  # Accessing instance and class attributes
print(dog2.name, dog2.age, dog2.species)  # Accessing instance and class attributes

print(Dog.species)    # Access class attribute directly

Buddy 3 Canine
Charlie 5 Canine
Canine

In [ ]:
# Single Inheritance
class Dog:
    def __init__(self, name):
        self.name = name

    def display_name(self):
        print(f"Dog's Name: {self.name}")

class Labrador(Dog):  # Single Inheritance
    def sound(self):
        print("Labrador woofs")

# Multilevel Inheritance
class GuideDog(Labrador):  # Multilevel Inheritance
    def guide(self):
        print(f"{self.name}Guides the way!")

# Multiple Inheritance
class Friendly:
    def greet(self):
        print("Friendly!")

class GoldenRetriever(Dog, Friendly):  # Multiple Inheritance
    def sound(self):
        print("Golden Retriever Barks")

# Example Usage
lab = Labrador("Buddy")
lab.display_name()
lab.sound()

guide_dog = GuideDog("Max")
guide_dog.display_name()
guide_dog.guide()

retriever = GoldenRetriever("Charlie")
retriever.display_name()
retriever.greet()
retriever.sound()

Dog's Name: Buddy
Labrador woofs
Dog's Name: Max
MaxGuides the way!
Dog's Name: Charlie
Friendly!
Golden Retriever Barks

In [ ]:
# Polymorphism

# Parent Class
class Dog:
    def sound(self):
        print("dog sound")  # Default implementation

# Run-Time Polymorphism: Method Overriding
class Labrador(Dog):
    def sound(self):
        print("Labrador woofs")  # Overriding parent method

class Beagle(Dog):
    def sound(self):
        print("Beagle Barks")  # Overriding parent method

# Compile-Time Polymorphism: Method Overloading Mimic
class Calculator:
    def add(self, a, b=0, c=0):
        return a + b + c  # Supports multiple ways to call add()

# Run-Time Polymorphism
dogs = [Dog(), Labrador(), Beagle()]
for dog in dogs:
    dog.sound()  # Calls the appropriate method based on the object type


# Compile-Time Polymorphism (Mimicked using default arguments)
calc = Calculator()
print(calc.add(5, 10))  # Two arguments
print(calc.add(5, 10, 15))  # Three arguments

dog sound
Labrador woofs
Beagle Barks
15
30

In [ ]:
from abc import ABC, abstractmethod

class Dog(ABC):  # Abstract Class
    def __init__(self, name):
        self.name = name

    @abstractmethod
    def sound(self):  # Abstract Method
        pass

    def display_name(self):  # Concrete Method
        print(f"Dog's Name: {self.name}")

class Labrador(Dog):  # Partial Abstraction
    def sound(self):
        print("Labrador Woof!")

class Beagle(Dog):  # Partial Abstraction
    def sound(self):
        print("Beagle Bark!")

# Example Usage
dogs = [Labrador("Buddy"), Beagle("Charlie")]
for dog in dogs:
    dog.display_name()  # Calls concrete method
    dog.sound()  # Calls implemented abstract method

Dog's Name: Buddy
Labrador Woof!
Dog's Name: Charlie
Beagle Bark!

In [1]:
# Polymorphism
class Hotel:
  def __init__(self,name,rating,price):
    self.name = name
    self.rating = rating
    self.price = price

  def __gt__(self,other):
    if self.price > other.price:
      return True
    else:
      return False

h1 = Hotel('A',3.5,3000)
h2 = Hotel('B',4.2,4000)

print(h1>h2)

False