<a href="https://colab.research.google.com/github/Raghav5384/Rag_Python_Day1/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Machine Learning course")

Welcome to Machine Learning course

5

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
a=400
print(id(a))

133084428087664

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a=b=c=100
print(id(b))

10754024

In [ ]:
import keyword as kyw
print(kyw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#list method
s = ["NTT DATA"]
print(s)

['NTT DATA']

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6,7]
print(l1)

[2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6, 7]

In [ ]:
#Tuple method

s = ("NTT DATA")
t2 = tuple(s)
print(t2)

l1 = [10,20,30]
print(l1)
l2 = tuple(l1)
print(l2)

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
[10, 20, 30]
(10, 20, 30)

In [ ]:
#Dictionary
d1 = {"name": "Ram", "age": 30, "city": "Blr"}
print(d1)
print (type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])

In [ ]:
# Create a Dictionary
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
print (d1)
print (type(d1))

print (d1[2])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100

In [ ]:
# using tuple as key in dictionary
d4 = {(1,2): 100,
      (3,4): 200,
      (5,6): 300}

print(d4)
print(d4[(3,4)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
200

In [ ]:
# using tuple as key in dictionary , using different data types in key
d4 = {3: 100,
      (3,4): 200,
      "hi": 300}

print(d4)
print(d4["hi"])

{3: 100, (3, 4): 200, 'hi': 300}
300

In [ ]:
# Iterating through a Dictionary (keys by default)
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for key1 in d1:
    print(key1)

2
4
6
8
10

In [ ]:
# Iterating through a values
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for value in d1.values():
    print(value)

100
200
300
400
500

In [ ]:
# Iterating through a item (key, values)
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}

for item in d1.items():
    print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [2]:
#Functions -- Global and local variable
n= 10

def fun():
    n=5 # Local variable
    print(n)

fun()
print(n)

5
10

In [6]:
#Functions -- Global and local variable
n= 10

def fun():
    global n # Global variable
    n = n+1
    print(n)

def test():
    global n # Global variable
    n= n+1
    print(n)

fun()
test()
print(n)

11
12
12

In [10]:
#Default arguments

def student (name, age, m1, m2, m3, college="UVCE"):

    print (name,age,m1,m2,m3,college)


student(name="John",age=21, m1=90, m2=78, m3=86)
student(name="Mary",age=21, m1=70, m2=88, m3=96, college="SVCE")

John 21 90 78 86 UVCE
Mary 21 70 88 96 SVCE

In [12]:
#Variable length arguments

def sum (*a):
    print(a)

sum(2,3)
sum(4,7,5)
sum (8,9)

(2, 3)
(4, 7, 5)
(8, 9)